{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@api": "./imports/@api",
          "@ui": "./imports/@ui"
        }
      }
    ]
  ]
}
